<div class="modal fade" id="general_purpose_Modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="m_title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div id="m_body"></div>
                <select id="m_select">
                  <option  value="---SELECT---" selected="selected">---SELECT---</option>

                </select>
            </div>
            <div class="modal-footer">
                <div id="before_update_buttons" style="dispaly: none">
                    <button type="button" class="btn btn-default" data-dismiss="modal">I understand</button>
                </div>
                <div id="update_buttons">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dont_close_project()">no</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="close_project()">yes</button>
                </div>
            </div>
            <div id="last_val" style=""></div>
        </div>
    </div>
</div>
