{% extends 'main/base.html' %}
{% block transfer_list %}
{% load render_table from django_tables2 %}
<div id="order_line">
<form method="post" action="/" style="">{% csrf_token %}
    {% for error in from.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
<table class="table table-bordered" id="input_table">

  <thead>
   <tr>
       <th style="text-align: center; background-color: coral;" colspan="3">כללי לקוחות</th>
       <th style="text-align: center; background-color: green;" colspan="11">נתוני משימה</th>
       <th style="text-align: center; background-color: red;" colspan="3">ספקים</th>
       <th style="text-align: center; background-color: orange;" colspan="3">שליטה וניהול</th>
       <th style="text-align: center; background-color: blue;" colspan="7">תפעול</th>
       <th style="text-align: center; background-color: navy;" colspan="10">מחירים</th>
       <!--<th style="text-align: center; background-color: coral;" colspan="1"></th>-->
  </tr>
  <tr>
      {% for field in form %}
        <th style="text-align: center;" class="{{field.name}}">{{field.label}}</th>
      {% endfor %}
  </tr>
  </thead>
  <tr>
      {% for field in form %}
        {% if field.name == 'Date'%}
            <td class="{{field.name}}">
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                  <input name="{{field.name}}" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
            </td>
        {%else%}
              {% if field.name == 'Flight_shcedule' or field.name == 'Start_time' or field.name == 'End_time' %}
                    <td class="{{field.name}}">
                      <div class="input-group date" id="{{field.name}}" data-target-input="nearest">
                          <input name="{{field.name}}" id="id_{{field.name}}" type="text" class="form-control datetimepicker-input" data-target="#{{field.name}}"/>
                          <div class="input-group-append" data-target="#{{field.name}}" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                    </td>
                    {%else%}

                         <td class="{{field.name}}">{{field}}</td>

              {% endif %}

        {% endif %}
      {% endfor %}
  </tr>
</table>
<div>
<button id="add_new_order_button" class="btn btn-primary btn-lg" type="submit">שמור</button>
</div>
    <!--<input class="btn-primary" type="submit" value="שמור" />-->
</form>
</div>
{% if messages %}
  <div class="alert alert-success">
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
  </div>
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{field.name}} - {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<br>
<div>
<table class="table table-bordered" id="select_list">
  <thead>
    <tr>
        <th>project_filter</th>
        <th>customer_filter</th>
        <th>provider_filter</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
            <select id="p_num" name="p_num_list" onChange="project_filter()" data-default="---SELECT---">
              <option  value="---SELECT---" selected="selected">---SELECT---</option>
              {% for p_num in p_num_list %}
               <option value="{{p_num}}">{{p_num|capfirst}}</option>
              {% endfor %}
            </select>
        </td>
        <td>
            <select id="customer" name="customer_list" onChange="customer_filter()">
              <option  value="---SELECT---" selected="selected">---SELECT---</option>
              {% for customer in customer_list %}
               <option value="{{customer}}">{{customer|capfirst}}</option>
              {% endfor %}
            </select>
        </td>
        <td>
            <select id="provider" name="provider_list" onChange="provider_filter()">
              <option  value="---SELECT---" selected="selected">---SELECT---</option>
              {% for provider in provider_list %}
               <option value="{{provider}}">{{provider|capfirst}}</option>
              {% endfor %}
            </select>
        </td>
     </tr>
   </tbody>
</table>


<form method="post" action="/" style="">{% csrf_token %}
    {% for field in date_form %}
        {% if field.name == 'start'%}
            <td>
              <div class="input-group date" id="{{field.name}}" data-target-input="nearest">
                  <input name="{{field.name}}" id="id_{{field.name}}" type="text" class="form-control datetimepicker-input" data-target="#{{field.name}}"/>
                  <div class="input-group-append" data-target="#{{field.name}}" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
            </td>
        {%else%}
              {% if field.name == 'end' %}
                    <td>
                      <div class="input-group date" id="{{field.name}}" data-target-input="nearest">
                          <input name="{{field.name}}" id="id_{{field.name}}" type="text" class="form-control datetimepicker-input" data-target="#{{field.name}}"/>
                          <div class="input-group-append" data-target="#{{field.name}}" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                    </td>

              {% endif %}
        {% endif %}
    {% endfor %}
    <!--<input type="submit" name="date_filter" value="שלח" />-->
</form>
<br>
<button onclick="date_filter()">date filter</button>
<br>
<br>
<button id="reset"><a href="/">reset filters</a></button>
<br>
<br>
</div>
<!--<div id="waper_for_update" style="position: absolute; left:90%; top:75%;">-->
    <input type="button" value="update" id="update_button" onkeypress="update_row();" onclick="update_row();" style="display: none;">
    <!--<input type="button" value="update" id="update_button_old" onkeypress="update_row();" onclick="update_row();" style="display: none; position: absolute; left:90%; top:75%;">-->
    <div id="clone_input" style="position: absolute; left:90%;"></div>

    <div id="update_values" style="display: none;">
        <input type="text" name="row_id" id="row_id" maxlength="100">
        <input type="text" name="cell_id" id="cell_id" maxlength="100">
        <!--<input type="text" name="new_value" id="new_value" maxlength="100">-->
    </div>
    <div id="special_clone_input" style="position: absolute; left:90%;">
        <!--<div class="input-group date" id="new_date_time" data-target-input="nearest" style="display: none;">-->
          <!--<input name="new_date_time" id="id_new_date_time" type="text" class="form-control datetimepicker-input" data-target="#new_date_time"/>-->
          <!--<div class="input-group-append" data-target="#new_date_time" data-toggle="datetimepicker">-->
              <!--<div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="input-group date" id="new_date" data-target-input="nearest" style="display: none;">-->
          <!--<input name="new_date" id="id_new_date" type="text" class="form-control datetimepicker-input" data-target="#new_date"/>-->
          <!--<div class="input-group-append" data-target="#new_date" data-toggle="datetimepicker">-->
              <!--<div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="input-group date" id="flight_shcedule_update" data-target-input="nearest" style="display: none;">-->
          <!--<input name="flight_shcedule_update" id="id_flight_shcedule_update" type="text" class="form-control datetimepicker-input" data-target="#flight_shcedule_update"/>-->
          <!--<div class="input-group-append" data-target="#flight_shcedule_update" data-toggle="datetimepicker">-->
              <!--<div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
          <!--</div>-->
        <!--</div>-->
    </div>
<!--</div>-->

{% render_table table_upcoming %}

<!--<table class="table" id="sum_list" border="1" >-->
  <!--<thead>-->
    <!--<tr>-->
        <!--<th class="min">מחיר FD ללקוח</th>-->
        <!--<th class="min">מחיר FD לספק</th>-->
        <!--<th class="min">מחיר TRN ללקוח</th>-->
        <!--<th class="min">מחיר TRN לספק</th>-->
        <!--<th class="min">מחיר EXTRA HOUR ללקוח</th>-->
        <!--<th class="min">מחיר EXTRA HOUR לספק</th>-->
        <!--<th class="min">מחיר FT VIP SERVICE ללקוח</th>-->
        <!--<th class="min">מחיר FT VIP SERVICE לספק</th>-->

        <!--<th class="min">מחיר שונות ללקוח</th>-->
        <!--<th class="min">מחיר שונות לספק</th>-->

        <!--<th class="min">סה"כ</th>-->
        <!--<th class="min">-->
            <!--<button onclick="maam()">-->
<!--סה&quot;כ-->
<!--מחירים-->
<!--כולל-->
<!--מע&quot;מ-->
            <!--</button>-->
        <!--</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
      <!--<tr>-->
        <!--<td class="min" id="Cost_per_client"  style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="Cost_per_provider"  style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="Cost_transfer_client"  style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="Cost_transfer_provider"  style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="Cost_extra_hour_client"  style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="Cost_extra_hour_provider"  style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="Cost_VIP_client"  style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="Cost_VIP_provider"  style="border: 1px solid black;"></td>-->

        <!--<td class="min" id="shonot_client"  style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="shonot_provider"  style="border: 1px solid black;"></td>-->

        <!--<td class="min" id="hakol" style="border: 1px solid black;"></td>-->
        <!--<td class="min" id="maam" style="border: 1px solid black;"></td>-->
      <!--</tr>-->
   <!--</tbody>-->
<!--</table>-->

<table class="table" id="sum_list_client" border="1" >
  <thead>
    <tr>
        <th class="min">מחיר FD ללקוח</th>
        <th class="min">מחיר TRN ללקוח</th>
        <th class="min">מחיר EXTRA HOUR ללקוח</th>
        <th class="min">מחיר FT VIP SERVICE ללקוח</th>
        <th class="min">מחיר שונות ללקוח</th>
        <th class="min">סה"כ</th>
        <th class="min">
            <button onclick="maam()">
סה&quot;כ
מחירים
כולל
מע&quot;מ
            </button>
        </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="min" id="Cost_per_client"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_transfer_client"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_extra_hour_client"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_VIP_client"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_shonot_client"  style="border: 1px solid black;"></td>
        <td class="min" id="hakol_client" style="border: 1px solid black;"></td>
        <td class="min" id="maam_client" style="border: 1px solid black;"></td>
      </tr>
   </tbody>
</table>


<table class="table" id="sum_list_provider" border="1" >
  <thead>
    <tr>
        <th class="min">מחיר FD לספק</th>
        <th class="min">מחיר TRN לספק</th>
        <th class="min">מחיר EXTRA HOUR לספק</th>
        <th class="min">מחיר FT VIP SERVICE לספק</th>
        <th class="min">מחיר שונות לספק</th>
        <th class="min">סה"כ</th>
        <th class="min">
            <button onclick="maam()">
סה&quot;כ
מחירים
כולל
מע&quot;מ
            </button>
        </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="min" id="Cost_per_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_transfer_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_extra_hour_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_VIP_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_shonot_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="hakol_provider" style="border: 1px solid black;"></td>
        <td class="min" id="maam_provider" style="border: 1px solid black;"></td>
      </tr>
   </tbody>
</table>

<!--<table class="table table-bordered" id="main_list">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Update</th>-->
      <!--{% for name in field_names %}-->
      <!--<th>{{name}}</th>-->
      <!--{% endfor %}-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{% for row in upcoming %}-->

          <!--<tr>-->
            <!--<td><a href="/update_row/{{row.id}}">{{ forloop.counter }}</a></td>-->
            <!--<td>{{ row.Project_num}}</td>-->
            <!--<td>{{ row.Customer}}</td>-->
            <!--<td>{{ row.Date }}</td>-->
            <!--<td>{{ row.Type_of_service}}</td>-->
            <!--<td>{{ row.Type_of_car }}</td>-->
            <!--<td>{{ row.Driver_name }}</td>-->
            <!--<td>{{ row.Luggage }}</td>-->
            <!--<td>{{ row.Name }}</td>-->
            <!--<td>{{ row.Flight_num }}</td>-->
            <!--&lt;!&ndash;<td>{{ row.Time_of_flight }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ row.Time_of_PU }}</td>&ndash;&gt;-->
              <!--<td>{{ row.Start_time }}</td>-->
            <!--<td>{{ row.End_time }}</td>-->
            <!--<td>{{ row.From }}</td>-->
            <!--<td>{{ row.To }}</td>-->
            <!--<td>{{ row.Extra_hours_client }}</td>-->
            <!--<td>{{ row.Based_on_client }}</td>-->
            <!--<td>{{ row.Extra_hours_provider }}</td>-->
            <!--<td>{{ row.Based_on_provider }}</td>-->
            <!--<td>{{ row.Total_extra_client }}</td>-->
            <!--<td>{{ row.Total_extra_provider }}</td>-->
            <!--<td>{{ row.KM }}</td>-->
            <!--<td>{{ row.Comments }}</td>-->
            <!--<td>{{ row.Provider }}</td>-->
            <!--<td>{{ row.Cost_per_client }}</td>-->
            <!--<td>{{ row.Cost_per_provider }}</td>-->
            <!--<td>{{ row.Cost_extra_hour_client }}</td>-->
            <!--<td>{{ row.Cost_extra_hour_provider }}</td>-->
            <!--<td>{{ row.Cost_transfer_client }}</td>-->
            <!--<td>{{ row.Cost_transfer_provider }}</td>-->
            <!--<td>{{ row.Cost_VIP_client }}</td>-->
            <!--<td>{{ row.Cost_VIP_provider }}</td>-->
            <!--<td>{{ row.Status }}</td>-->
            <!--<td class="color_id">{{ row.Color }}</td>-->


          <!--</tr>-->

    <!--{% endfor %}-->
  <!--</tbody>-->
<!--</table>-->

{% endblock %}