{% extends 'main/base.html' %}
{% block transfer_list %}
{% load render_table from django_tables2 %}
{% for e in error %}
<h1>{{e}}</h1>
{% endfor %}
<input type='text' id="custom" />
<label>תצוגת כתב</label>
<input type="checkbox" id="color_method">
<label>dollar mode</label>
<input type="checkbox" id="dollar_mode">

<a type="button" class="btn btn-info" href="{% url 'whole_list' %}">whole list</a>




<!--<form id="searchform" action="{% url 'p_num_list' %}" method="get" accept-charset="utf-8">-->
  <!--<button class="searchbutton" type="submit">-->
    <!--<i class="fa fa-search"></i>-->
  <!--</button>-->
  <!--<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">-->
<!--</form>-->


<!--<form action="{% url 'p_num_list' %}" method="get" accept-charset="utf-8">-->
    <!--<select id="p_num" name="p_num_list" onChange="">-->
      <!--<option  value="" selected="selected">-&#45;&#45;SELECT-&#45;&#45;</option>-->
      <!--{% for p_num in p_num_list %}-->
       <!--<option value="{{p_num}}">{{p_num|capfirst}}</option>-->
      <!--{% endfor %}-->
    <!--</select>-->
    <!--<input type="submit" value="Select by project number">-->
<!--</form>-->


<h3>add to list</h3>
<form method="post" action="/" style="">{% csrf_token %}
    {% for error in field.errors %}-->
        <p style="color: red">{{ error }}</p>
    {% endfor %}
<table class="table table-bordered">

  <thead>
  <tr>
      {% for field in form %}
        <th>{{field.label}}</th>
      {% endfor %}
  </tr>
  </thead>
  <tr>
      {% for field in form %}
        {% if field.name == 'Date'%}
            <td>
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                  <input name="{{field.name}}" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
            </td>
        {%else%}
              {% if field.name == 'Start_time' or field.name == 'End_time' %}
                    <td>
                      <div class="input-group date" id="{{field.name}}" data-target-input="nearest">
                          <input name="{{field.name}}" id="id_{{field.name}}" type="text" class="form-control datetimepicker-input" data-target="#{{field.name}}"/>
                          <div class="input-group-append" data-target="#{{field.name}}" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                    </td>
                    {%else%}

                         <td>{{field}}</td>

              {% endif %}

        {% endif %}
      {% endfor %}
  </tr>
</table>
<input type="submit" value="שמור" />
</form>

<select id="p_num" name="p_num_list" onChange="project_filter()">
  <option  value="" selected="selected">---SELECT---</option>
  {% for p_num in p_num_list %}
   <option value="{{p_num}}">{{p_num|capfirst}}</option>
  {% endfor %}
</select>
<select id="customer" name="customer_list" onChange="customer_filter()">
  <option  value="" selected="selected">---SELECT---</option>
  {% for customer in customer_list %}
   <option value="{{customer}}">{{customer|capfirst}}</option>
  {% endfor %}
</select>
<select id="provider" name="provider_list" onChange="provider_filter()">
  <option  value="" selected="selected">---SELECT---</option>
  {% for provider in provider_list %}
   <option value="{{customer}}">{{provider|capfirst}}</option>
  {% endfor %}
</select>

<button id="reset">reset</button>
<h3>main list</h3>
{% render_table table %}

<table class="table table-bordered" id="sum_list">
  <thead>
    <tr>
        <th>מחיר ללקוח</th>
        <th>מחיר לספק</th>
        <th>מחיר טרנספר ללקוח</th>
        <th>מחיר טרנספר לספק</th>
        <th>מחיר שעה נוספת ללקוח</th>
        <th>מחיר שעה נוספת לספק</th>
        <th>מחיר VIP ללקוח</th>
        <th>מחיר VIP לספק</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td id="Cost_per_client"></td>
        <td id="Cost_per_provider"></td>
        <td id="Cost_transfer_client"></td>
        <td id="Cost_transfer_provider"></td>
        <td id="Cost_extra_hour_client"></td>
        <td id="Cost_extra_hour_provider"></td>
        <td id="Cost_VIP_client"></td>
        <td id="Cost_VIP_provider"></td>
      </tr>
   </tbody>
</table>

<!--<table class="table table-bordered" id="main_list">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Update</th>-->
      <!--{% for name in field_names %}-->
      <!--<th>{{name}}</th>-->
      <!--{% endfor %}-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{% for row in upcoming %}-->

          <!--<tr>-->
            <!--<td><a href="/update_row/{{row.id}}">{{ forloop.counter }}</a></td>-->
            <!--<td>{{ row.Project_num}}</td>-->
            <!--<td>{{ row.Customer}}</td>-->
            <!--<td>{{ row.Date }}</td>-->
            <!--<td>{{ row.Type_of_service}}</td>-->
            <!--<td>{{ row.Type_of_car }}</td>-->
            <!--<td>{{ row.Driver_name }}</td>-->
            <!--<td>{{ row.Luggage }}</td>-->
            <!--<td>{{ row.Name }}</td>-->
            <!--<td>{{ row.Flight_num }}</td>-->
            <!--&lt;!&ndash;<td>{{ row.Time_of_flight }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ row.Time_of_PU }}</td>&ndash;&gt;-->
              <!--<td>{{ row.Start_time }}</td>-->
            <!--<td>{{ row.End_time }}</td>-->
            <!--<td>{{ row.From }}</td>-->
            <!--<td>{{ row.To }}</td>-->
            <!--<td>{{ row.Extra_hours_client }}</td>-->
            <!--<td>{{ row.Based_on_client }}</td>-->
            <!--<td>{{ row.Extra_hours_provider }}</td>-->
            <!--<td>{{ row.Based_on_provider }}</td>-->
            <!--<td>{{ row.Total_extra_client }}</td>-->
            <!--<td>{{ row.Total_extra_provider }}</td>-->
            <!--<td>{{ row.KM }}</td>-->
            <!--<td>{{ row.Comments }}</td>-->
            <!--<td>{{ row.Provider }}</td>-->
            <!--<td>{{ row.Cost_per_client }}</td>-->
            <!--<td>{{ row.Cost_per_provider }}</td>-->
            <!--<td>{{ row.Cost_extra_hour_client }}</td>-->
            <!--<td>{{ row.Cost_extra_hour_provider }}</td>-->
            <!--<td>{{ row.Cost_transfer_client }}</td>-->
            <!--<td>{{ row.Cost_transfer_provider }}</td>-->
            <!--<td>{{ row.Cost_VIP_client }}</td>-->
            <!--<td>{{ row.Cost_VIP_provider }}</td>-->
            <!--<td>{{ row.Status }}</td>-->
            <!--<td class="color_id">{{ row.Color }}</td>-->


          <!--</tr>-->

    <!--{% endfor %}-->
  <!--</tbody>-->
<!--</table>-->

{% endblock %}