{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Efi Caneti</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/transfer_list.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'color_picker/spectrum.css' %}" />
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>-->


    <!-- for date pick -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css" />
    <!--<link rel="stylesheet" href="{% static 'css/bs4-datetimepicker.min.css' %}" />-->
    <!--<script defer src="{% static 'js/fontawesome-all.js' %}"></script>-->
    <script defer src="{% static 'js/get_diff.js' %}"></script>

  </head>

  <body>

            {% block base %}
            {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'color_picker/spectrum.js' %}"></script>
    <!-- for date pick -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'js/bs4-datetimepicker.min.js' %}"></script>-->
    <script src="{% static 'js/table_colors.js' %}"></script>
            <!--<script src="{% static 'datatable/jquery.dataTables.min.js' %}"></script>-->
            <!--<script src="{% static 'datatable/dataTables.bootstrap4.min.js' %}"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!--<script defer src="{% static 'js/add_dollar_shekel.js' %}"></script>-->
    <script defer src="{% static 'js/dollar_shekel_euro.js' %}"></script>
    <script defer src="{% static 'js/table_filter.js' %}"></script>
    <script defer src="{% static 'js/status_function.js' %}"></script>
    <script defer src="{% static 'js/maam.js' %}"></script>
    <script defer src="{% static 'js/csv_filter.js' %}"></script>



   <script type="text/javascript">

        $(function () {
            $('#datetimepicker1').datetimepicker({
              format: "dddd, MMMM DD YYYY"
            });
        });

        //https://stackoverflow.com/questions/41716125/set-min-date-in-bootstrap-datetimepicker-2
        //https://stackoverflow.com/questions/30891880/set-date-in-bootstrap-datetimepicker-input
        //https://momentjs.com/docs/

        $(function () {
            $('#Start_time').datetimepicker({
              format: 'YYYY-MM-DD HH:mm',
              useCurrent: false
            });
        });

        $(function () {
            $('#End_time').datetimepicker({
              format: 'YYYY-MM-DD HH:mm',
              useCurrent: false
            });
        });

        $(function () {
            $('#start').datetimepicker({
              format: 'YYYY-MM-DD',
              useCurrent: false
            });
        });

        $(function () {
            $('#end').datetimepicker({
              format: 'YYYY-MM-DD',
              useCurrent: false
            });
        });

        $("#custom").spectrum({
          preferredFormat: "rgb",
        });

        //$(document).ready(function() {
        //    $('#mainlist').DataTable();
        //} );

        $(document).ready(function() {
            $('#id_From').select2({
              tags: true
            });
            $('#id_To').select2({
              tags: true
            });
            $('#id_Flight_num').select2({
              tags: true
            });

        });

        //$(document).ready(function() {
        //   $('.js-example-basic-single').select2({
        //      tags: true
        //    });
        //});

        //$(".js_tags").select2({
        //  tags: true
        //});
    </script>

  </body>

</html>