{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Efi Caneti</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/transfer_list.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'color_picker/spectrum.css' %}" />

    <!-- for date pick -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css" />
    <!--<link rel="stylesheet" href="{% static 'css/bs4-datetimepicker.min.css' %}" />-->
    <!--<script defer src="{% static 'js/fontawesome-all.js' %}"></script>-->
    <script defer src="{% static 'js/get_diff.js' %}"></script>
    <!--<script defer src="{% static 'js/get_set_color.js' %}"></script>-->
  </head>

  <body>

            {% block base %}
            {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'color_picker/spectrum.js' %}"></script>
    <!-- for date pick -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'js/bs4-datetimepicker.min.js' %}"></script>-->
    <script src="{% static 'js/table_colors.js' %}"></script>



   <script type="text/javascript">
        $(function () {
            $('#Start_time').datetimepicker({
              format: 'YYYY-MM-DD HH:mm'
            });
        });

        $(function () {
            $('#End_time').datetimepicker({
              format: 'YYYY-MM-DD HH:mm'
            });
        });

        $(function () {
            $('#datetimepicker1').datetimepicker({
              format: 'L'
            });
        });

        //$(function () {
        //    $('#id_Date').datetimepicker({
        //      format: 'YYYY-MM-DD'
        //    });
        //});


        $("#custom").spectrum({
          preferredFormat: "rgb",
        });


    </script>

  </body>

</html>