{% extends 'main/base.html' %}
{% block transfer_list %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Type_of_car</th>
      <th>Type_of_service</th>
      <th>Driver</th>
      <th>Provider</th>
      <th>Flight</th>
      <th>Based_on</th>
      <th>Start_time</th>
      <th>End_time</th>
      <th>Extra_hours</th>
      <th>KM</th>
      <th>Extra_KM</th>
    </tr>
  </thead>
  <tbody>
    {% for project in object_list %}
      <tr>
          <td><a href="edit_project/{{transfer.id}}">{{ forloop.counter }}</a></td>
        <td>{{ project.Date }}</td>
        <td>{{ project.Name }}</td>
        <td>{{ project.Type_of_car }}</td>
        <td>{{ project.Type_of_service }}</td>
        <td>{{ project.Driver }}</td>
        <td>{{ project.Provider }}</td>
        <td>{{ project.Flight }}</td>
        <td>{{ project.Based_on }}</td>
        <td>{{ project.Start_time }}</td>
        <td>{{ project.End_time }}</td>
        <td>{{ project.Extra_hours }}</td>
        <td>{{ project.KM }}</td>
        <td>{{ project.Extra_KM }}</td>
      </tr>
    {% empty %}
    <tr>No project yet</tr>
    {% endfor %}
  </tbody>
</table>
<!--<h1>transfer</h1>-->
<!--<ul>-->
<!--{% for transfer in object_list %}-->
    <!--<li>{{ transfer.Date }}</li>-->
<!--{% empty %}-->
    <!--<li>No transfer yet.</li>-->
<!--{% endfor %}-->
<!--</ul>-->
{% endblock %}