{% extends 'main/base.html' %}
{% block transfer_list %}

{% for e in error %}
<h1>{{e}}</h1>
{% endfor %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Delete</th>
      <th>Edit</th>
      <th>Customer_ref</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Provider</th>
      <th>Car</th>
      <th>Clients_Name</th>
      <th>Service_from_to</th>
      <th>Flight</th>
      <th>Time_from_to</th>
      <th>KM</th>
      <th>Contact</th>
      <th>Project</th>
    </tr>
  </thead>
  <tbody>
    {% for transfer in object_list %}
        {% if transfer.Proj_name %}
          <tr>
            <td><a href="/project/{{transfer.id}}/delete/">{{ forloop.counter }}</a></td>
            <td><a href="/project/{{transfer.id}}/">{{ forloop.counter }}</a></td>
            <td></td>
            <td>{{ transfer.Date }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{transfer.Proj_name}}</td>
          </tr>
        {% else %}
          <tr>
            <td><a href="/delete_transfer/{{transfer.id}}">{{ forloop.counter }}</a></td>
            <td><a href="/edit_transfer/{{transfer.id}}">{{ forloop.counter }}</a></td>
            <td>{{ transfer.Customer_ref }}</td>
            <td>{{ transfer.Date }}</td>
            <td>{{ transfer.Driver }}</td>
            <td>{{ transfer.Provider }}</td>
            <td>{{ transfer.Car }}</td>
            <td>{{ transfer.Clients_Name }}</td>
            <td>{{ transfer.Service_from_to }}</td>
            <td>{{ transfer.Flight }}</td>
            <td>{{ transfer.Time_from_to }}</td>
            <td>{{ transfer.Contact }}</td>
            <!--<td>{{ transfer.Project }}</td>-->
          </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>
<!--<h1>transfer</h1>-->
<!--<ul>-->
<!--{% for transfer in object_list %}-->
    <!--<li>{{ transfer.Date }}</li>-->
<!--{% empty %}-->
    <!--<li>No transfer yet.</li>-->
<!--{% endfor %}-->
<!--</ul>-->
{% endblock %}