{% extends 'main/base.html' %}
{% block transfer_list %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <button type="submit">Upload</button>
  </form>
<h2 class="p-3 mb-2 bg-danger text-white"  dir="rtl" align="right">
    שם לב פעולה זו עלולה לשנות שורות קיימות (במידה ויש להם את אותו id number) בדטה בייס שלך בהתאם למה שנמצא בקובץ שאתה מעלה!
</h2>


<h1>read</h1>
{{row}}

<p></p>
<hr>

{% for row in excel_data %}
    {% for cell in row %}
        {{ cell }}&nbsp;&nbsp;
    {% endfor %}
    <br>
{% endfor %}

{% endblock %}