{% extends 'main/base.html' %}
{% block transfer_list %}
{% load render_table from django_tables2 %}
<h3>main list</h3>


{% render_table table_all %}


<!--<table class="table table-bordered">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Update</th>-->
      <!--{% for name in field_names %}-->
      <!--<th>{{name}}</th>-->
      <!--{% endfor %}-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{% for row in all %}-->

          <!--<tr>-->
            <!--<td><a href="/update_row/{{row.id}}">{{ forloop.counter }}</a></td>-->
            <!--<td>{{ row.Project_num}}</td>-->
            <!--<td>{{ row.Customer}}</td>-->
            <!--<td>{{ row.Date }}</td>-->
            <!--<td>{{ row.Type_of_service}}</td>-->
            <!--<td>{{ row.Type_of_car }}</td>-->
            <!--<td>{{ row.Driver_name }}</td>-->
            <!--<td>{{ row.Luggage }}</td>-->
            <!--<td>{{ row.Name }}</td>-->
            <!--<td>{{ row.Flight_num }}</td>-->
            <!--<td>{{ row.Time_of_flight }}</td>-->
            <!--<td>{{ row.Time_of_PU }}</td>-->
            <!--<td>{{ row.End_time }}</td>-->
            <!--<td>{{ row.From }}</td>-->
            <!--<td>{{ row.To }}</td>-->
            <!--<td>{{ row.Extra_hours_client }}</td>-->
            <!--<td>{{ row.Based_on_client }}</td>-->
            <!--<td>{{ row.Extra_hours_provider }}</td>-->
            <!--<td>{{ row.Based_on_provider }}</td>-->
              <!--<td>{{ row.Total_extra_client }}</td>-->
              <!--<td>{{ row.Total_extra_provider }}</td>-->
            <!--<td>{{ row.KM }}</td>-->
            <!--<td>{{ row.Comments }}</td>-->
            <!--<td>{{ row.Provider }}</td>-->
            <!--<td>{{ row.Cost_per_client }}</td>-->
            <!--<td>{{ row.Cost_per_provider }}</td>-->
            <!--<td>{{ row.Cost_extra_hour_client }}</td>-->
            <!--<td>{{ row.Cost_extra_hour_provider }}</td>-->
            <!--<td>{{ row.Cost_transfer_client }}</td>-->
            <!--<td>{{ row.Cost_transfer_provider }}</td>-->
            <!--<td>{{ row.Cost_VIP_client }}</td>-->
            <!--<td>{{ row.Cost_VIP_provider }}</td>-->
            <!--<td>{{ row.Status }}</td>-->
            <!--<td class="color_id">{{ row.Color }}</td>-->

          <!--</tr>-->

    <!--{% endfor %}-->
  <!--</tbody>-->
<!--</table>-->

{% endblock %}