{% extends 'main/base.html' %}
{% block transfer_list %}
{% load render_table from django_tables2 %}

<div style="display: none;">
{{hidden_form.as_p}}
</div>
<div id="update_values" style="display: none;">
        <input type="text" name="row_id" id="row_id" maxlength="100">
        <input type="text" name="cell_id" id="cell_id" maxlength="100">
        <!--<input type="text" name="new_value" id="new_value" maxlength="100">-->
</div>
<div style="display: none;">
    <input type="button" value="update" id="update_button" onkeypress="update_row();" onclick="update_row();">
</div>

<div>
<table class="table table-bordered" id="select_list">
  <thead>
    <tr>
        <th>project_filter</th>
        <th>customer_filter</th>
        <th>provider_filter</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
            <select id="p_num" name="p_num_list" onChange="project_filter()" data-default="---SELECT---">
              <option  value="---SELECT---" selected="selected">---SELECT---</option>
              {% for p_num in p_num_list %}
               <option value="{{p_num}}">{{p_num|capfirst}}</option>
              {% endfor %}
            </select>
        </td>
        <td>
            <select id="customer" name="customer_list" onChange="customer_filter()">
              <option  value="---SELECT---" selected="selected">---SELECT---</option>
              {% for customer in customer_list %}
               <option value="{{customer}}">{{customer|capfirst}}</option>
              {% endfor %}
            </select>
        </td>
        <td>
            <select id="provider" name="provider_list" onChange="provider_filter()">
              <option  value="---SELECT---" selected="selected">---SELECT---</option>
              {% for provider in provider_list %}
               <option value="{{provider}}">{{provider|capfirst}}</option>
              {% endfor %}
            </select>
        </td>
     </tr>
   </tbody>
</table>


<form method="post" action="/" style="">{% csrf_token %}
    {% for field in date_form %}
        {% if field.name == 'start'%}
            <td>
              <div class="input-group date" id="{{field.name}}" data-target-input="nearest">
                  <input name="{{field.name}}" id="id_{{field.name}}" type="text" class="form-control datetimepicker-input" data-target="#{{field.name}}"/>
                  <div class="input-group-append" data-target="#{{field.name}}" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
            </td>
        {%else%}
              {% if field.name == 'end' %}
                    <td>
                      <div class="input-group date" id="{{field.name}}" data-target-input="nearest">
                          <input name="{{field.name}}" id="id_{{field.name}}" type="text" class="form-control datetimepicker-input" data-target="#{{field.name}}"/>
                          <div class="input-group-append" data-target="#{{field.name}}" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                    </td>

              {% endif %}
        {% endif %}
    {% endfor %}
    <!--<input type="submit" name="date_filter" value="שלח" />-->
</form>
<br>
<button onclick="date_filter()">date filter</button>
<br>
<br>
<button id="reset"><a href="/whole_list">reset filters</a></button>
<br>
<br>
</div>
{% render_table table_all %}

<table class="table" id="sum_list_client" border="1" >
  <thead>
    <tr>
        <th class="min">מחיר FD ללקוח</th>
        <th class="min">מחיר TRN ללקוח</th>
        <th class="min">מחיר EXTRA HOUR ללקוח</th>
        <th class="min">מחיר FT VIP SERVICE ללקוח</th>
        <th class="min">מחיר שונות ללקוח</th>
        <th class="min">סה"כ</th>
        <th class="min">
            <button onclick="maam()">
סה&quot;כ
מחירים
כולל
מע&quot;מ
            </button>
        </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="min" id="Cost_per_client"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_transfer_client"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_extra_hour_client"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_VIP_client"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_shonot_client"  style="border: 1px solid black;"></td>
        <td class="min" id="hakol_client" style="border: 1px solid black;"></td>
        <td class="min" id="maam_client" style="border: 1px solid black;"></td>
      </tr>
   </tbody>
</table>


<table class="table" id="sum_list_provider" border="1" >
  <thead>
    <tr>
        <th class="min">מחיר FD לספק</th>
        <th class="min">מחיר TRN לספק</th>
        <th class="min">מחיר EXTRA HOUR לספק</th>
        <th class="min">מחיר FT VIP SERVICE לספק</th>
        <th class="min">מחיר שונות לספק</th>
        <th class="min">סה"כ</th>
        <th class="min">
            <button onclick="maam()">
סה&quot;כ
מחירים
כולל
מע&quot;מ
            </button>
        </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="min" id="Cost_per_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_transfer_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_extra_hour_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_VIP_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="Cost_shonot_provider"  style="border: 1px solid black;"></td>
        <td class="min" id="hakol_provider" style="border: 1px solid black;"></td>
        <td class="min" id="maam_provider" style="border: 1px solid black;"></td>
      </tr>
   </tbody>
</table>

{% include 'main/general_purpose_Modal.html' %}



{% endblock %}