
table#sum_list{
    width:600px;
    table-layout:auto;
}

#transfer_list{
    margin:10px;
}

/*
https://stackoverflow.com/questions/24840074/how-to-stick-table-headerthead-on-top-while-scrolling-down-the-table-rows-with
This will work on every browser
*/

.id{
    display: none;
}

div#order_line{
    display: flex;
}

#add_new_order_button{
    float: right;
    position: sticky;
    position: -webkit-sticky;
    right: 50px;
}

#mainlist thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    background: white;
    border-bottom: 2px solid black;
}

#mainlist.dataTable tr.odd { background-color: #E2E4FF; }
#mainlist.dataTable tr.even { background-color: white; }

#select_list {
    border: 3px solid green;
    border-collapse: collapse;
    width:100%;
}


#select_list th{
    width: 1px;
    white-space: nowrap;
}

#select_list td{
    width: 1px;
    white-space: nowrap;
}


#id_Name{
    width:70px;
}

#id_Flight_num{
    width:70px;
}

#id_Luggage{
    width:70px;
}

#datetimepicker1{
    width:255px;
}

.Flight_shcedule{
    background: rgb(180,180,180);
}

#Flight_shcedule{
    width:200px;
}

#Start_time{
    width:200px;
}

#End_time{
    width:200px;
}

#new_date{
    width:255px;
}

#id_From{
    width:100px;
}

#id_To{
    width:100px;
}

#id_Extra_hours_client{
    width:60px;
}

#id_Based_on_client{
    width:60px;
}

#id_Extra_hours_provider{
    width:60px;
}

#id_Based_on_provider{
    width:60px;
}

#id_Total_extra_client{
    width:60px;
}

#id_Total_extra_provider{
    width:60px;
}

#id_KM{
    width:60px;
}

#id_Extra_KM_client{
    width:60px;
}

#id_Extra_KM_provider{
    width:60px;
}

#id_Comments{
    width:100px;
    height:100px;
}

#id_Cost_per_client{
    width:60px;
}

#id_Cost_per_provider{
    width:60px;
}

#id_Cost_extra_hour_client{
    width:60px;
}

#id_Cost_extra_hour_provider{
    width:60px;
}

#id_Cost_transfer_client{
    width:60px;
}

#id_Cost_transfer_provider{
    width:60px;
}

#id_Cost_VIP_client{
    width:60px;
}

#id_Cost_VIP_provider{
    width:60px;
}

#id_Contact{
    width:60px;
}

#id_shonot_client{
    width:60px;
}

#id_shonot_provider{
    width:60px;
}

td.highlight {
        font-weight: bold;
        //color: blue;
        background-color: rgb(144,238,144);
    }

.border{
    border-style: solid;
    border-width: 2px;
    border-color: green;
}