
table#sum_list{
    width:600px;
    table-layout:auto;
}

#transfer_list{
    margin:10px;
}

//#mainlist thead,tbody,tr,td,th{
//    border: 1px solid black;
//    border-bottom: 1px solid black;
//    border-top: 1px solid black;
//}

//#sum_list thead,tbody,tr,td,th{
//    border: 1px solid black;
//    border-bottom: 1px solid black;
//    border-top: 1px solid black;
//}

//.table thead th{
//    border-bottom: 1px solid black;
//    border-top: 1px solid black;
//}



//input.form-control datetimepicker-input{
//    width:150px;
//}

#id_Name{
    width:70px;
}

#id_Flight_num{
    width:70px;
}

#id_Luggage{
    width:70px;
}

#datetimepicker1{
    width:255px;
}


#Start_time{
    width:200px;
}

#End_time{
    width:200px;
}

#id_From{
    width:100px;
}

#id_To{
    width:100px;
}

#id_Extra_hours_client{
    width:60px;
}

#id_Based_on_client{
    width:60px;
}

#id_Extra_hours_provider{
    width:60px;
}

#id_Based_on_provider{
    width:60px;
}

#id_Total_extra_client{
    width:60px;
}

#id_Total_extra_provider{
    width:60px;
}

#id_KM{
    width:60px;
}

#id_Extra_KM_client{
    width:60px;
}

#id_Extra_KM_provider{
    width:60px;
}

#id_Comments{
    width:100px;
    height:100px;
}

#id_Cost_per_client{
    width:60px;
}

#id_Cost_per_provider{
    width:60px;
}

#id_Cost_extra_hour_client{
    width:60px;
}

#id_Cost_extra_hour_provider{
    width:60px;
}

#id_Cost_transfer_client{
    width:60px;
}

#id_Cost_transfer_provider{
    width:60px;
}

#id_Cost_VIP_client{
    width:60px;
}

#id_Cost_VIP_provider{
    width:60px;
}

#id_Contact{
    width:60px;
}

#id_shonot_client{
    width:60px;
}

#id_shonot_provider{
    width:60px;
}

td.highlight {
        font-weight: bold;
        //color: blue;
        background-color: rgb(25,150,25);
    }

.border{
    border-style: solid;
    border-width: 2px;
    border-color: green;
}